.ui-grid-viewport {
    overflow-x: auto !important;
}
.ui-grid-top-panel {
    color: #24505D !important;
    //background-color: #dddddd !important;
    border: 0 !important;
}
.ui-grid-footer-panel {
    background-color: #899294 !important;
    color: #fff !important;
    font-weight: normal !important;
}
.ui-grid-footer-info, .ui-grid-pager-panel {
    background-color: #E5E4E4 !important;
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
    border-color: @borderColor !important;
}
.ui-grid-icon-container i {
    color: @brandColor;
    &::before {
        margin-right: 0;
    }
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
    border-color: #C8C7C7 !important;
}

//Grid Menu
.ui-grid-menu-button {
    background-color: #dddddd;
    top: -1px;
    right: -1px;
    border: none;
    min-height: 33px;
}
.ui-grid-icon-container {
    height: 33px;
    display: table-cell;
    vertical-align: middle;
    i {
        color: @brandColor;
    }
    &:hover, &:focus, &:active {
        background-color: #f5f5f5;
    }
}
.ui-grid-menu-button .ui-grid-menu {
    .ui-grid-menu-mid {
        border: none;
    }
}
.ui-grid-menu {
    margin-top: 3px;
    padding: 0;
    border-top: 2px solid @brandColor;
    overflow-y: auto;
    .box-shadow(e("0 10px 20px rgba(0, 0, 0, 0.2), inset 0 12px 12px 0 rgba(0, 0, 0, 0.2)"));
    z-index: 99;
}
.ui-grid-menu-mid {
    &:before {
        content: "";
        position: fixed;
        display: inline-block;
        right: 2px;
        margin-top: -9px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid @brandColor;
        z-index: 4;
    }
}
.ui-grid-menu .ui-grid-menu-inner {
    border: none;
    box-shadow: none;
    background-color: #f5f5f5;
}
.ui-grid-menu .ui-grid-menu-inner ul {
    min-width: 150px;
    li {
        padding-right: 23px;
        &:hover {
            background-color: #e5e4e4;
            box-shadow: none;
        }
        &.ui-grid-menu-item-active {
            box-shadow: none;
            background-color: @selectedColor;
        }
    }
}
.tr-btn {
    padding: 2px 6px;
    margin: 1.5px 0 1.5px 6px;
    border-radius: 3px;
    &:focus, &:hover {
        outline: 0;
    }
}
